@use "global" as global;

.profile_picture {
  width: global.$picture_width;
}

.side_info_card {
  width: global.$left_card_width;
}

.info_container {
  display: flex;
  align-items: center;
  h2,
  h3 {
    display: flex;
    align-items: center;
  }
  &--padding {
    @extend .info_container;
    margin: 0.5rem 0;
  }
}

.skills_header {
  margin-top: 1rem;
}

.skill_container {
  margin-bottom: 1rem;
}
